.weather{
    place-self:center;
    padding: 40px;
    border:solid #fff 2px; 
    border-radius: 10px;
    background-image: rgba(255, 255, 255, 0.747);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 1.5px;
    margin: 2px;
    border-radius: 2px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 40px;
    color: black;
    background-color: blanchedalmond;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 60%;
    background-color: blanchedalmond;
    color: black;
    cursor:pointer;
}
.search-bar input:focus{
    outline: none;
    box-shadow: 0 0 10px rgba(255,255,255,0.4);
}
.loding{
    font-size: 14px;
  opacity: 0.8;
}
.weather_icon{
    width: 150px;
    margin: 30px 0;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateX(0); }
  50% { transform: translateX(-8px); }
  100% { transform: translateX(0); }
}
.temp{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 30px;
}
.weather_data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather_data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather_data .col span{
    display: block;
    font-size: 16px;
}
.weather_data .col img{
    width: 25px;
    margin-top: 10px;
}
@media (max-width: 480px) {
  .weather {
    width: 90%;
    padding: 20px;
  }
}